/* add your CSS here */
ul#list {
	margin: 0 0 0 10px;
	padding: 0;
}
ul#list li.item {
	list-style: none;
	font-style: italic;
	margin: 0 0 5px 0;
}
ul#list li.item > span.label {
	font-weight: bold;
}
div#card {
	border: 1px solid #900000;
	padding: 10px; width: 300px;
}
img#animal-picture {
	width: 300px;
}
p.information {
	font-style: italic;
	border: 1px solid #ccc;
	padding: 5px;
}
h3#headline {
	font-size: 30px;
	padding: 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ccc;
}
